* {
    box-sizing: border-box;
}

.universal-tree {
    --node-indent: 5px;
    --node-background-color: #fff;
    --slot-size: 20px;
    --slot-accent-color: rgba(0, 0, 0, 0.0);
    --slot-background-color: rgba(0, 0, 0, 0.0);
}

.universal-tree .tree-node {
    --node-accent-color: #666;
}

.universal-tree .tree-node > .node-view {
    position: relative;
    display: flex;
    border-color: var(--node-accent-color);
    color: var(--node-accent-color);
    border-bottom: solid 1px;
    background-color: var(--node-background-color);
    transition: background-color 0.1s, border-color 0.1s;
}

.universal-tree .tree-node[data-selected="true"] > .node-view {
    --node-background-color: #ccc;
    --node-accent-color: #fff;
}

.universal-tree .tree-node > .node-view:hover {
    --node-background-color: #eee;
}

.universal-tree .tree-node > .node-view > .parent {
    border-color: var(--node-accent-color);
    border-left: solid var(--node-indent);
    border-right: solid 1px;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.universal-tree .tree-node > .node-view > .action {
    border-color: var(--node-accent-color);
    background-color: var(--node-background-color);
    border-left: solid 1px;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.universal-tree .tree-node > .node-view > .action::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: attr(data-icon);
    transform: translateX(-50%) translateY(-50%);
}

.universal-tree .tree-node > .node-view > .action:hover {
    --node-accent-color: #fff;
    --node-background-color: #ccc;
}

.universal-tree .tree-node > .node-view > .parent::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "+";
}

.universal-tree .tree-node > .node-view > .parent[data-has-children="false"]::after {
    content: "";
}

.universal-tree .tree-node > .node-view > .parent[data-has-children="true"][data-is-open="true"]::after {
    content: "-";
}

.universal-tree .tree-node > .node-view > .label {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 10px;
}

.universal-tree .tree-node > .sub-nodes {
    padding-left: var(--node-indent);
}

.universal-tree .tree-slot {
    position: relative;
}

.universal-tree .tree-slot::after,
.universal-tree .tree-slot::before {
    display: block;
    content: "";
    border: solid 1px;
    border-color: var(--slot-accent-color);
    background-color: var(--slot-background-color);
    z-index: 10000;
    transition: background-color 0.1s, width 0.1s, height 0.1s;
}

.universal-tree .node-view {
    position: relative;
}

.universal-tree .node-view > .tree-slot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.universal-tree .tree-node > .node-view > .tree-slot::after,
.universal-tree .tree-node > .node-view > .tree-slot::before  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--slot-size);
}

.universal-tree .tree-node > .sub-nodes > .tree-slot::after,
.universal-tree > .tree-slot::after,
.universal-tree .tree-node > .sub-nodes > .tree-slot::before,
.universal-tree > .tree-slot::before
 {
    position: absolute;
    top: 0;
    left: var(--slot-size);
    height: var(--slot-size);
    width: calc(100% - var(--slot-size));
    border-radius: calc(0.5 * var(--slot-size));
    transform: translateY(-50%);
}

.universal-tree .tree-slot::before {
    --slot-size: 3px;
    --slot-accent-color: rgba(0, 0, 0, 0.1);
    --slot-background-color: rgba(0, 0, 0, 0.2);
}

.universal-tree .tree-slot[data-is-active="true"]::before {
    --slot-accent-color: rgba(0, 0, 0, 0.1);
    --slot-background-color: rgba(0, 0, 0, 0.2);
    --slot-size: 20px;
}
